@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --dark: hsl(45, 4%, 18%);
  --light: hsl(60, 27%, 91%);
  --grey: hsl(0, 0%, 50%);
  --almond: hsl(30, 44%, 72%);
  --matcha: hsl(125, 10%, 45%);
  --forest: hsl(158, 13%, 29%);
  --eclipse: hsl(180, 35%, 15.7%);
}

html,
body {
  @apply transition-colors duration-300;
}
